asgiref==3.8.1
attrs==25.1.0
cachetools==5.5.0
coverage==7.6.12
Django==5.1.1
django-filter==24.3
django-rql==4.4.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.28.0
flake8==7.1.2
inflection==0.5.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
lark-parser==0.11.0
lib-rql==2.0.2
Markdown==3.7
mccabe==0.7.0
packaging==24.2
pillow==11.1.0
psycopg2-binary==2.9.10
pycodestyle==2.12.1
pyflakes==3.2.0
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.1
PyYAML==6.0.2
referencing==0.36.2
rpds-py==0.23.1
six==1.16.0
sqlparse==0.5.1
uritemplate==4.1.1
